---
import { getCollection } from 'astro:content';

import Wrapper from '../../../layouts/wrapper.astro';
import BlogList from '../../../components/BlogList.astro';


export async function getStaticPaths() {
  const posts = await getCollection('blog');

  const categories = new Set(
    posts.flatMap((post) =>
      post.data.categories?.map((c) => c.toLowerCase()) || []
    )
  );

  return Array.from(categories).map((category) => ({
    params: { category },
    props: { category },
  }));
}

const routeCategory = Astro.params.category.toLowerCase();

const allPosts = await getCollection('blog');

const posts = allPosts.filter((post) =>
  post.data.categories?.some(
    (c) => c.toLowerCase() === routeCategory
  )
);
---
<Wrapper 
  title={`#${Astro.params.category}`}
  description={`Posts in the category: ${Astro.params.category}`}
  image="/images/bio.jpg">
  <section class="section section--solo">
    <div class="section__inner cards">
      <BlogList 
        title={`#${ routeCategory }`} 
        posts={posts} />
    </div>
  </section>
</Wrapper>