* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a{
    color: white;
    &:hover{
        text-decoration: none;
    }
}

img {
    max-width: 100%;
    height: auto;
}

html{
    background-color: black;
    background-image: linear-gradient(-180deg, #FFAD63 0%, #F76B1C 100%);
    color: white;
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


h1, h2, h3, h4, h5, h6{
    font-family: "Cal Sans", sans-serif;
    font-weight: normal;
}

h2{
    line-height: 1.1;
}

a{
    &:hover{
        text-decoration: none;
    }
}

.label{
    display: inline-block;
    padding: 4px 12px;
    background: $orange;
    color: white;
    border-radius: $radius;
}

.nc{
    font-family: 'Druk Wide Bold Bold';
    font-size: 100px;
    line-height: .8;
    &--small{
        font-size: 50px;
        line-height: 1.1;
    }
    &--medium{
        font-size: 70px;
        line-height: 1.1;
        @media (max-width: $break) {
            font-size: 28px!important;        
        }
    }
    @media (max-width: $break) {
        font-size: 42px;        
    }
}


.icon{
    font-size: 24px;
    border-radius: 8px;
    min-width: 52px;
    background-color: rgba(0,0,0,.4);
    padding-top: 13px;
    text-align: center;
    display: none;
}

.measure{
    max-width: 1000px;
    padding: 70px;
    @media (max-width: $break) {
        width: 100%;
        padding: var(--gutter);      
    }   
}

.cta{
    display: flex;
    flex-direction: column;
    gap: var(--gutter);

    background: $orange;
    border-bottom-right-radius: $radius;
    border-bottom-left-radius: $radius;
    font-size: 2em;
    line-height: 1.2;
    font-family: "Cal Sans", sans-serif;

    h2, a{
        color: rgba(255,255,255,.6);
    }

    @media (max-width: $break) {       
        border-radius: 0; 
        font-size: 1.5em;
    }  
}

.content{
    background-color: #3D3D3D;
    max-width: 1000px!important;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    margin-top: -60px;
    & p:first-child{
        font-size: 2em;
        line-height: 1.2;
        font-family: "Cal Sans", sans-serif;
        @media (max-width: $break) {
            font-size: 1.4em;
        }
    }
    @media (max-width: $break) {
        margin-top: 0px; 
        border-radius: 0;      
    }    
}

.socials{
    letter-spacing: 5px;
    a{
        color: $orange!important;
        &:hover{
            color: white!important;
        }
    }
}


.button{
    // margin-top: 18px;
    display: inline-block;
    background: $orange;
    color: white!important;    
    padding: 18px 26px;
    border-radius: 60px;
    text-decoration: none;
    font-size: 1.1em;
    cursor: pointer;
    &--spaced{
        margin-top: 50px;
        @media (max-width: $break) {
            margin-top: var(--gutter);
        }
    }
    &:hover{
        background: #f90;
    }
}


.page{
    margin: auto;
    position: relative;
    overflow: hidden;
    max-width: 1500px; 
    background-color: #4A4A4A;
    background-image:  
        repeating-radial-gradient( circle at 0 0, transparent 0, #4A4A4A 10px ), 
        repeating-linear-gradient( rgba(0,0,0,.2), rgba(0,0,0,.1) );
    
    box-shadow: 0 2px 500px 0 rgba(0,0,0,0.4);

    @media (min-width: 1499px) {        
        border-bottom-right-radius: 40px;  
        border-bottom-left-radius: 40px; 
        margin-bottom: 150px;     
    }   
}


.tag{
    color: #999;
    font-size: 1em;
    display: inline-block;
    margin-right: 6px;
    a{
        color: #999;
    }
    &__pound{
        color: #666;
    }
}