* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
}

html{
    background-color: #4A4A4A;
    color: white;
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


h1, h2, h3, h4, h5, h6{
    font-family: "Cal Sans", sans-serif;
    font-weight: normal;
}

a{
    &:hover{
        text-decoration: none;
    }
}

.label{
    display: inline-block;
    padding: 4px 12px;
    background: $orange;
    color: white;
    border-radius: $radius;
}

.nc{
    font-family: 'Druk Wide Bold Bold';
    font-size: 100px;
    line-height: .8;
    &--small{

    }
    &--medium{
        font-size: 70px;
        line-height: 1.1;
    }
}


.icon{
    font-size: 24px;
}

.measure{
    width: 1000px;
    padding: 70px;
}

.cta{
    background: $orange;
    border-bottom-right-radius: $radius;
    border-bottom-left-radius: $radius;
    font-size: 2em;
    line-height: 1.2;
    font-family: "Cal Sans", sans-serif;
    &__contacts{
        margin-top: var(--gutter);
    }
}

.content{
    background-color: #3D3D3D;
    max-width: 1000px!important;
    border-top-right-radius: $radius;
    border-top-left-radius: $radius;
    margin-top: -60px;
    & p:first-child{
        font-size: 2em;
        line-height: 1.2;
        font-family: "Cal Sans", sans-serif;
    }
}