.blog{
    position: relative;

    &__header{

        position: sticky;
        top: max(var(--layout-spacing), calc(var(--gutter) * 4));
        align-self: flex-start;
        display: flex;
        flex-direction: column;
        gap: var(--gutter);
        
        &__eyebrow{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: var(--space-sm);
            font-weight: bold;
            margin-bottom: var(--space-xs);
            img{
                border-radius: var(--radius-xs);
            }
        }
        &__title{
            font-family: oswald;
            text-transform: uppercase;
            text-wrap: pretty;
        }
        &__icons{
            display: flex;
            gap: var(--space-sm);
        }       
    } 
    
    &__hero{
        display: block;
        overflow: hidden;
        border-radius: var(--radius-xl);
        margin-bottom: var(--layout-spacing);
    }

    &__cta {
        display: flex;
        flex-direction: column;
        gap: var(--gutter);

        &--mobile {
            display: none;
        }
    }

    @media (max-width: 639px) {
        &__header {
            position: static;
            top: auto;
            align-self: stretch;

        }

        &__cta {
            &--desktop {
                display: none;
            }

            &--mobile {
                display: flex;
            }
        }
    }
}
