.blog-table{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--gutter);
    align-items: stretch; 
    &__link{        
        display: flex;
        flex-direction: row;
        align-items: start;
        gap: var(--gutter); 
        text-decoration: none;
        flex: 1;
        width: 100%;
        max-width: 100%;
        * {
            margin-top: 0!important;
            margin-bottom: 0!important;
            padding-top: 0!important;
            padding-bottom: 0!important;
        }
    }
    &__img{
        position: relative;
        overflow: hidden;
        border-radius: $radius;
        max-width: 170px;
        img{
            display: block;
        }
        @media (max-width: $break) {
            display: none;
        }   
    }
    @media (max-width: $break) {
        display: flex;
        flex-direction: column;
        gap: var(--gutter);
        font-size: .8em
    }   
}