.btn {

    display: inline-block;

    cursor: pointer;
    appearance: none;

    border: 0px;
    height: 46px;

    border-radius: 16px;

    display: flex;
    justify-content: center;
    align-items: center;

    &--open{
        width: 46px;
        
        background: var(--pixel-hero-primary);
        &:hover{
            background-color: #f60;
        }                
    }

    &--hire{
        background: var(--pixel-hero-secondary);
        padding: 0px 30px;
        text-decoration: none;
        color: white;
        font-weight: bold;
        &:hover{
            background: #6DD400;
        }
    }

}