.btn {
    
    cursor: pointer;
    appearance: none;

    border: 0px;
    height: 46px;

    border-radius: 16px;

    text-decoration: none;
    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;

    color: white;

    padding: 0px 30px;
    line-height: 1;

    &--open{
        width: 46px;
        background-color: #f60;
        padding: 0px;
        
        // 
        &:hover{
            background-color: #f90;
        }                
    }

    &--hire{
        background: #5CB200;
        // background: var(--pixel-hero-secondary);
        
        
        &:hover{
            background: #6DD400;
        }
    }

    &--themed{
        background: var(--pixel-hero-primary);
    }

}