.cards{
    &__cards{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: $gutter;
        align-items: stretch; /* ensure items stretch to row height */
    }
    &__title{
        margin-bottom: $gutter;
    }
}

.card{
    background: $grey;
    border-radius: $radius;
    text-decoration: none;
    display: block;
    position: relative;
    overflow: hidden;
    color: $green;
    &__details{
        padding: $gutter;
    }
    &__title{
        font-size: 24px;
    }
    &:hover{
        background: #ccc;
        //color: white;
    }
    &__hero{
        &__image{
            display: block;
        }
        &__date{
            position: absolute;
            top: $gutter;
            left: $gutter
        }
    }
} 