.cards{
    &__cards{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: var(--gutter);
        align-items: stretch; /* ensure items stretch to row height */
        @media (max-width: $break) {            
            grid-template-columns: 1fr;
        }
    }
    &__title{
        margin-bottom: var(--gutter);
        // @media (max-width: $break) {
        //     //margin-bottom: $gutter/2;
        // }
    }
}

.card{
    background: $grey;
    border-radius: $radius;
    text-decoration: none;
    display: block;
    position: relative;
    overflow: hidden;
    color: $green;
    &__details{
        padding: var(--gutter);
        // @media (max-width: $break) {
        //     padding: $gutter/2;
        // }
    }
    &__title{
        font-size: 24px;
        @media (max-width: $break) {
            font-size: 18px;
        }
    }
    &:hover{
        background: #ccc;
        //color: white;
    }
    &__hero{
        &__image{
            display: block;
        }
        &__date{
            position: absolute;
            top: var(--gutter);;
            left: var(--gutter);;
            // @media (max-width: $break) {
            //     top: $gutter/2;
            //     left: $gutter/2;
            // }
        }
    }
} 