.card{
    display: block;

    line-height: 1.8;

    &--mini,
    &--micro {
        min-width: 0;

        .header {
            gap: 0;
            min-width: 0;
        }

        .header__eyebrow {
           // gap: var(--space-sm);
            margin-bottom: 0;
            font-weight: normal;
            font-size: inherit;
        }

        .header__theme {
            width: var(--icon-size-sm);
            height: var(--icon-size-sm);
            border-radius: 50%;
        }

        .header__title {
            overflow: hidden;
            font-weight: bold;
            text-overflow: ellipsis;
            text-wrap: nowrap;
            white-space: nowrap;

            a {
                display: block;
                overflow: hidden;
                text-overflow: ellipsis;
                text-wrap: nowrap;
                white-space: nowrap;
            }
        }

        .header__description {
            overflow: hidden;
            text-overflow: ellipsis;
            text-wrap: nowrap;
            white-space: nowrap;
        }

        .header__tags {
            display: none;
        }
    }

    &--micro {
        .header > div {
            display: flex;
            align-items: center;
            gap: var(--space-sm);
            min-width: 0;
        }

        .header__eyebrow,
        .header__eyebrow time {
            flex: 0 0 auto;
        }

        .header__description {
            font-size: inherit;
            display: none;
        }
    }

    @media (max-width: 639px) {
        &--mini {
            .header__title,
            .header__title a,
            .header__description {
                overflow: visible;
                text-overflow: clip;
                text-wrap: pretty;
                white-space: normal;
            }
        }
    }

}
