.cards{
    
    display: flex;
    flex-direction: column;
    gap: var(--gutter);
    
    &__cards{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: var(--gutter);
        align-items: stretch;
        &--thirds{
          grid-template-columns: 1fr 1fr 1fr;  
        }
        @media (max-width: $break) {            
            grid-template-columns: 1fr;
        }        
    }

    &--on-grey{
        .card{
            background-color: #444;            
        }
    }

}

.card{

    background-color: #3D3D3D;
    border-radius: $radius;
    text-decoration: none;
    display: flex;
    flex-direction: column;   
    position: relative;
    overflow: hidden;
    color: white;

    &--featured{
        width: 100%;
        margin-bottom: var(--gutter);
    }

    &--breaker{
        padding: var(--gutter);
        color: #ccc;
        font-size: 2em;
        &:hover{
            background: #3D3D3D!important;
        }        
    }

    &__details{
        padding: var(--gutter);  
        display: flex;
        flex-direction: column;    
    }

    &__desc{
        line-height: 1.4;
        margin-top: 4px;
        // margin: 0 var(--gutter) 0 var(--gutter);  
    }

    &__title{  
        margin: 0!important; 
        // margin: var(--gutter) var(--gutter) 0 var(--gutter);     
    }

    &__tags{
        margin: auto 0 var(--gutter) var(--gutter);     
    }

    &:hover{
        background: $orange;  
        * {
            color: white!important;      
        }        
    }

    &__hero{
        &__image{
            display: block;
        }
        &__date{
            position: absolute;
            top: var(--gutter);;
            left: var(--gutter);;
        }
    }
} 