.job{
   
    &:not(:last-child){
        margin-bottom: 5vw;
    }
    
    &__duration{       
        font-weight: bold;
        font-size: 18px;
    }

    &__title{
        font-size: 32px;
    }

    &__company{
        font-size: 28px;
    }    
}

.award{
    &:not(:last-child){
        margin-bottom: 5vw;
    }    
    &__category{
        line-height: 1.2;
    }
    &__year{
        color: rgba(255,255,255, .6);
        display: block;
    }
}