.job{
   
    &:not(:last-child){
        margin-bottom: var(--layout-spacing);
    }
    
    &__duration{       
        font-weight: bold;
    }

    & &__title {
        font-size: 1.404em;
    }

    & &__company {
        font-size: 1.2em;
    }
}

.award{
    &:not(:last-child){
        margin-bottom: var(--layout-spacing);
    }    
    &__year{
        display: block;
    }
}
