.footer{
    line-height: 1.2;    
    color: #bbb;   
    
    display: flex;
    flex-direction: column;
    gap: 50px;

    a{
        color: white;
    }
    &__title{
        margin-bottom: var(--gutter);
    }
    &__copy{
        // margin-top: var(--gutter);
    }
    &__socials{
        margin-top: 14px;
        font-size: 1.7em;
    }
    &__contacts{      
        font-family: "Cal Sans", sans-serif;
        a{
            text-decoration: none;
            &:hover{
                color: $orange;
            }
        }
        &__method{
            font-size: 50px;
            @media (max-width: $break) {
                font-size: 32px;
            }
        }
    }
    &__cols{
        display: flex;
        justify-content: space-between; 
        @media (max-width: $break) {
            flex-direction: column;
        }       
    }
    &__col{
        display: flex;
        flex-direction: column;                
        &--right{
            text-align: right;
            @media (max-width: $break) {
                text-align: left;
            }
        }
        &--left{
            width: 50%;
            @media (max-width: $break) {
                width: 100%;
                margin-bottom: var(--gutter);
            }
        }
    }
    &__base{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        @media (max-width: $break) {
            flex-direction: column;
            justify-content: start;
            gap: var(--gutter);
            flex-direction: column-reverse;
            // font-size: 1.2em;
        }   
    }
    @media (max-width: $break) {
        gap: var(--gutter);
    }     
}