.grid {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  gap: var(--layout-spacing);

  &__item {
    grid-column: span 12;

    &--third {
      grid-column: span 4;
    }

    &--two-thirds {
      grid-column: span 8;
    }

  }

  @media (max-width: 649px) {
    &__item {
      grid-column: span 12;
    }
  }
}
