.header {
    display: flex;
    flex-direction: column;
    gap: var(--gutter);

    &__eyebrow {
        display: flex;
        gap: var(--space-md);
        align-items: center;
        color: inherit;
        font-weight: bold;
        margin-bottom: var(--space-sm);
    }

    &__theme {
        display: block;        
        width: var(--header-theme-size);
        height: var(--header-theme-size);
        border-radius: 50%;
        background-color: var(--header-theme, var(--color-orange));
    }

    &__title {
        overflow-wrap: break-word;
        font-family: "Roboto", sans-serif;
        font-size: var(--font-size-card-title);
        line-height: 1.1;
        text-wrap: pretty;
        hyphens: auto;

        a {
            color: inherit;
            text-decoration: none;

            &:focus-visible {
                color: var(--color-orange);
                text-decoration: underline;
            }

            @media (min-width: 640px) {
                &:hover {
                    color: var(--color-orange);
                    text-decoration: underline;
                }
            }
        }
    }

    &__description {
        font-size: var(--font-size-blog-description);
    }

    &__tags {
        display: flex;
        flex-wrap: wrap;
        gap: var(--space-xs);
    }
}
