.home{
    text-align: right;
    position: relative;
    overflow: hidden;
    &__me{
        margin-right: var(--home-image-offset);
    }
    &__lockup{

        position: absolute;
        top: var(--home-lockup-offset);

        text-align: left;           
        left: var(--layout-spacing);
        right: var(--layout-spacing);
        
        &__heading{
            font-family: Oswald;
            text-transform: uppercase;
            font-weight: bold;
            line-height: .9;
            font-size: var(--font-size-home-heading);
            margin-bottom: var(--layout-spacing);
        }

        &__latest{
            margin-bottom: var(--layout-spacing);
        }

    }

    &__nav{
        a{
            display: block;
        }
    }

    @media (max-width: 639px) {
        padding-top: 80px;
        &__me {
            width: var(--home-image-width-mobile);
            height: auto;
            margin: 0;
            margin-right: -60px;
        }

        &__lockup__latest {
            display: none;
        }
        &__lockup{
            top: 390px;
        }
    }

}
