.home{
    text-align: right;
    position: relative;
    &__me{
        margin-right: var(--home-image-offset);
    }
    &__lockup{

        position: absolute;
        top: var(--home-lockup-offset);

        text-align: left;           
        left: var(--layout-spacing);
        
        &__heading{
            font-family: Oswald;
            text-transform: uppercase;
            font-weight: bold;
            line-height: .9;
            font-size: var(--font-size-home-heading);
            margin-bottom: var(--layout-spacing);
        }

        &__latest{
            margin-bottom: var(--layout-spacing);
        }

    }

    &__nav{
        font-size: var(--font-size-home-nav);
        a{
            display: block;
        }
    }
}
