.home{
    text-align: right;
    position: relative;
    &__me{
        margin-right: 3vw;
    }
    &__lockup{
        text-align: left;
        position: absolute;
        top: 285px;
        left: 5vw;
        &__heading{
            font-family: Oswald;
            text-transform: uppercase;
            font-weight: bold;
            line-height: .9;
            font-size: var(--font-size-home-heading);
        }
        &__subheading{            
            line-height: 1.2;
            margin-top: 5vw;
            color: #ccc;
            font-size: var(--font-size-home-subheading);
            // text-transform: uppercase;
        }

        &__desc{
            font-size: var(--font-size-home-description);
        }

        &__details{
            display: flex;
            flex-direction: column;
            gap: 5vw;
        }

    }

    &__nav{
        font-size: var(--font-size-home-nav);
        a{
            display: block;
        }
    }
}
