
.js-{
    &open{
        margin-left: -300px;
        .main{
                margin-right: -300px; 
        }
        .layer--0{
                display: block;
        }
        .menu{
                right: 322px;
        }
    }
}
