.layer{

    width: 100vw;
    position: relative;

    &--0{
        position: fixed;
        overflow: hidden;
        overflow-y: scroll;
        width: var(--side-panel-width);
        right: 0;
        top: 0px;
        bottom: 0px;
        background: var(--color-black-10);
        visibility: hidden;
        pointer-events: none;
        transform: translateX(100%);
        transition:
            transform var(--duration-fast) ease-out,
            visibility 0s linear var(--duration-fast);
    }
    &--1{
        position: absolute;
        z-index: 0;

        top: 0;
        left: 0;
        bottom: 0px;
        right: 0px;

        width: 100%;
        min-height: 100%;
        
        overflow: hidden;
        pointer-events: none;
    }
    &--2{
        position: relative;
        z-index: 1;  
        width: 100%;
    }
}
