.list {
    display: flex;
    flex-direction: column;
    gap: calc(var(--gutter) * 2);
    list-style: none;

    &__item {
        padding-bottom: calc(var(--gutter) * 2);
    }

    &__date-heading {
        display: none;
        margin-bottom: var(--gutter);
        color: var(--color-white-30);
        font-size: var(--font-size-nav-heading);
        text-transform: uppercase;

        &--visible {
            display: block;
        }
    }

    &__pagination {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 8px;
        margin-top: calc(var(--gutter) * 2);
    }

    &__pagination[hidden] {
        display: none;
    }
}
