.menu{
    position: fixed;  
    overflow: hidden; 
    z-index: 1;
    display: flex;
    justify-content: space-between;
    top: 0;
    right: 0;
    left: 0;
    padding: var(--gutter);

    &__group{
        display: flex;
        gap: var(--space-sm);
    }

    @media (max-width: 639px){
        flex-direction: row;
        align-items: center;

        .menu__availability{
            display: none;
        }
    }
}
