.menu{
    position: fixed;  
    overflow: hidden; 
    z-index: 3;
    display: flex;
    justify-content: space-between;
    top: 0;
    right: 0;
    left: 0;
    padding: var(--gutter);

    &__group{
        display: flex;
        gap: var(--space-sm);
    }

    &__burger-icon,
    &__close-icon {
        display: flex;
    }

    &__close-icon {
        display: none;
    }

    #js-open-closed {
        transition: background-color var(--duration-fast) ease-out;
    }

    @media (min-width: 640px) {
        a.menu__home:hover {
            background-color: var(--color-charcoal);
        }
    }

    @media (max-width: 639px){
        flex-direction: row;
        align-items: center;

        .menu__availability{
            display: none;
        }
    }
}

.menu-overlay {
    position: fixed;
    z-index: 2;
    inset: 0;
    background: var(--color-black);
    opacity: 0;
    pointer-events: none;
    transition: opacity var(--duration-fast) ease-out;
}
