.nav{
    
    position: relative;
    display: flex;
    justify-content: space-between;   
    
    &__links{
        display: flex;        
    }

    &__link{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: white;
        font-size: 18px;
        padding: 22px 32px;

        .hire-me{
            display: none;
        }

        &:hover{
            background-color: #f90;  
            color: white;    
            .hire-me{
                display: inline;
            }      
        }

        &.active{
            background-color: $orange;
        }

        &--orange{
            color: #f90;
            font-family: "Cal Sans", sans-serif;
            font-size: 32px;
            background-color: rgba(0,0,0,.1);
            @media (max-width: $break) {
                background-color: transparent;
            }
            
        }
        
        @media (max-width: $break) {
            font-size: 16px;
            padding: 12px 12px;
            &.active{
                background: none;                
                color: $orange;
            }
            &:hover{
                background: none;
            }
        }

    }    
}


.burger{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    cursor: pointer;
    padding: 0 22px;
}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .5);
    z-index: 10;

    backdrop-filter: blur(10px);
    
    display: flex;
    flex-direction: column;
    justify-content: start;

    font-family: "Cal Sans", sans-serif;

    &__socials{
        position: absolute;
        bottom: 22px;
        left: 22px;
        font-size: 22px;
    }
    
    
    a.nav__link{
        text-decoration: none;
        justify-content: end;
        padding: 0;
        font-size: 32px;
    }

    &__close{
        position: absolute;
        top: 22px;
        right: 22px;
        font-size: 32px;
        color: white;
        cursor: pointer;
    }
    &__links{
        padding: 22px;
    }
   display: none;
}


