

.nav{

    &__section{
        padding: var(--gutter);
    }

    &__links{
        a{
            display: block;
            text-decoration: none;
            &.active{                
                border-style: solid;
                border-left-color: var(--color-dark-orange);
                border-width: 0px;
                border-left-width: var(--radius-xs);
                padding-left: var(--space-sm);
            }  
            
        }        

        &--primary{
            a{
                position: relative;
                display: inline-block;
                font-family: Oswald;
                text-transform: uppercase;
                font-weight: bold;

                sup{
                    display: none;
                    vertical-align: top; 
                    position: absolute;
                    top: -8%;
                    right: -8%; 
                    z-index: -1;
                }

                &.active{
                    border: 0;
                    padding: 0;
                    sup{
                        display: inline;
                    }
                }
            }

        }
    }

    @media (min-width: 640px) {
        &__links a:hover {
            text-decoration: underline;
        }

        &__links--primary a:hover {
            text-decoration: none;
        }
    }
}
