.nav{

    &__section{
        padding: var(--gutter);
    }

    &__heading{
        color: var(--color-white-30);
        text-transform: uppercase;
        font-size: var(--font-size-nav-heading);
    }

    &__links{
        font-size: var(--font-size-nav-link);

        a{
            display: block;
            color: var(--color-white);
            text-decoration: none;
            &.active{                
                border-style: solid;
                border-left-color: var(--color-orange);
                border-width: 0px;
                border-left-width: var(--radius-xs);
                padding-left: var(--space-sm);
            }  
            
            &:hover{
                text-decoration: underline;
            }
        }        

        &--primary{
            a{
                position: relative;
                display: inline-block;
                font-family: Oswald;
                text-transform: uppercase;
                font-weight: bold;
                font-size: var(--font-size-primary-nav);
                line-height: .9;

                sup{
                    display: none;
                    color: var(--color-orange);
                    vertical-align: top; 
                    position: absolute;
                    top: -8%;
                    right: -8%; 
                    z-index: -1;
                }

                &.active{
                    border: 0;
                    padding: 0;
                    color: var(--color-light-grey);
                    sup{
                        display: inline;
                    }
                }
                &:hover{
                    text-decoration: none;
                    color: var(--color-orange);
                }                
            }

        }
    }
}
