.section{ 

    position: relative;

    display: flex;    
    justify-content: center;  
    width: 100%;

    // max-width: 1200px;

    padding: 0px var(--margin);

    &--nopad{
        padding: 0px;
    }
    
    &__title{
        font-size: 50px; 
        @media (max-width: $break) {
            font-size: 32px; 
        }
    }
    &__inner{
       max-width: 100%;
       width: 100%;       
    }
    &__cols{
        display: flex;
        flex-direction: row;
        gap: var(--gutter);
        @media (max-width: $break) {
            flex-direction: column;
        }
    }

    &__col{
        flex: 1;
    }

    &__text{
        max-width: 70%;
        margin-bottom: 50px;
    }

    &--grey{
        background-color: #3D3D3D;
    }

    &--black{
        background-color: black;
    }

    &--solo{
        padding: 70px var(--margin);
    }



    @media (max-width: $break) {

        padding: 0px;
        
        &--solo{
            padding: var(--gutter);
        }
        
        &--no-mobile{
            padding: 0
        }
    }

}