.tag{
    display: inline-flex;

    &--stacked{
        display: flex;
    }

    align-items: center;
    flex-flow: row nowrap;
    justify-content: stretch;
    // 
    background: var(--color-mid-charcoal);
    color: var(--color-white);
    margin-right: var(--space-xs);
    margin-top: var(--space-xs);
    border-radius: var(--radius-md);
    overflow: hidden;
    text-decoration: none;
    text-transform: uppercase;
    font-size: var(--font-size-small);
    height: var(--tag-height);
    &:hover{
       background: var(--color-white-20);
    }
    &__count{
        color: var(--color-white);
        font-weight: bold;
        padding-left: var(--space-md);
        padding-right: var(--space-md);
        background-color: var(--color-white-10);


            align-self: stretch;

    display: flex;
    align-items: center;
    justify-content: center;
    }
    &__label{
        padding-left: var(--space-md);
        padding-right: var(--space-md);
    }
}
