.tag{
    display: inline-flex;

    &--stacked{
        display: flex;
    }

    align-items: center;
    flex-flow: row nowrap;
    justify-content: stretch;
    // 
    background: var(--pixel-hero-primary);
    color: rgba(255,255,255,1);
    margin-right: 4px;
    margin-top: 4px;
    border-radius: 8px;
    overflow: hidden;
    text-decoration: none;
    text-transform: uppercase;
    font-size: var(--font-size-small);
    height: 32px;
    &:hover{
       background: rgba(255,255,255,.2); 
    }
    &__count{
        color: white;
        font-weight: bold;
        padding-left: 12px;
        padding-right: 12px;
        background-color: rgba(255,255,255,.1);


            align-self: stretch;

    display: flex;
    align-items: center;
    justify-content: center;
    }
    &__label{
        padding-left: 12px;
        padding-right: 12px;
    }
}
