.typography{
    color: var(--color-text);

    font-weight: 400;

    display: flex;
    flex-direction: column;
    gap: var(--gutter);

    blockquote{
        border-left: 4px solid rgba(255, 255, 255, .2);
        padding-left: var(--gutter);
        font-family: serif;
        font-size: 2em;
        font-style: italic;
    }

    hr{
        opacity: .3;
    }

    ul,ol{
        margin-left: var(--gutter);
    }

    dt{
        font-weight: bold;
    }

    dd{
        margin-left: 0;

        &:not(:last-child){
            margin-bottom: var(--gutter);
        }
    }

    li:has(> h3){
        &:not(:last-child){
            margin-bottom: var(--gutter);
        }

        > h3:not(:last-child){
            margin-bottom: calc(var(--gutter) / 2);
        }
    }

    table{
        width: 100%;
        border-collapse: collapse;
        margin-bottom: var(--gutter);
        th{            
            text-align: left;
            border-bottom: solid 1px var(--color-grey);
        }
        th,td{
            padding: calc(var(--space-sm) + var(--space-2xs));
        }
        border-bottom: solid 1px var(--color-grey);
    }

}
