.typography{
    // font-size: 18px;
    line-height: 1.5;
    // color: $green;
    
    p, h1, h2, h3, h4, h5, h6, 
    ul, ol, table, blockquote {
        margin-bottom: var(--gutter);
        // @media (max-width: $break) {
        //     margin-bottom: $gutter/2;
        // }
    }

    p:last-child{
        margin-bottom: 0;
    }

    blockquote{
        padding: var(--gutter);
        background-color: $grey;
        border-radius: $radius;
        font-size: 18px;
        line-height: 1.5;
    }

    h1{
        font-size: 42px;
        line-height: 1.2;
        @media (max-width: $break) {
            font-size: 32px;
        }
    }

    ul, ol{
        margin-left: var(--gutter);
    }

    p, li{
        color: #ccc;
    }

    a{
        color: $orange;
    }

    @media (max-width: $break) {
        font-size: 1.1em;
    }
    

}