.unit{
    border-radius: $radius;
    background-color: #3D3D3D;
    padding: var(--gutter);

    flex: 1; 

    display: flex;
    justify-content: space-between;
    gap: var(--gutter);

    &__title{
        line-height: 1.1;
    }

    &__details{
        display: flex;
        flex-direction: column;        
        gap: var(--gutter);
    }

    &__link{
        margin-top: auto;
    }

    @media (max-width: $break) {
        border-radius: 0; 
    }

}

.units{
    display: flex;
    flex-direction: row;
    gap: var(--gutter);
    margin-bottom: var(--gutter);
    @media (max-width: $break) {
        flex-direction: column;
        gap: 0;
    }
}