.unit{
    background: $grey;
    border-radius: $radius;
    color: $green;

    display: flex;
    justify-content: space-between;

    &__details{

    }

    &__icon{
        
    }
}

.units{
    display: flex;
    flex-direction: column;
    gap: var(--gutter);
    // @media (max-width: $break) {        
    //     gap: $gutter/2;
    // }
}