.unit{    
    background-color: #3D3D3D;
    position: relative;
    border-radius: $radius;
    overflow: hidden;

    flex: 1; 

    &__title{
        line-height: 1.1;
    }

    &__details{     
        padding: var(--gutter);
    }

    &__link{
        margin-top: auto;
    }

    @media (max-width: $break) {
        border-radius: 0; 
    }

    &__thumb{
        font-size: 30px;
        padding: var(--gutter);
        background-color: rgba(255,255,255,.1);        
        color: rgba(255,255,255,.4);
    }

}

.units{
    display: flex;
    flex-direction: row;
    gap: var(--gutter);
    margin-bottom: var(--gutter);
    @media (max-width: $break) {
        flex-direction: column;
        gap: 0;
    }
}