$green: #17433B;
$grey: #F2F2F2; 
$orange: #EC7B14;
$teal: #91B7AC;
$olive: #575E35;
$brown: #8C5816;

$gutter: 22px;
$radius: 12px;

$break: 799px;




:root {
    --gutter: 22px; 
    --margin: 100px;
    --shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
    @media (max-width: $break) {
       // --gutter: 20px;
    }
    @media (max-width: 1000px) {
        --margin: 22px;
    }
}

@font-face {
    font-family: 'Druk Wide Bold Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Druk Wide Bold Bold'), url('/fonts/druk-wide-bold-webfont/DrukWideBold.woff') format('woff');
}