$green: #17433B;
$grey: #F2F2F2; 
$orange: #EC7B14;
$teal: #91B7AC;
$olive: #575E35;
$brown: #8C5816;

$gutter: 22px;
$radius: 12px;

$break: 799px;

:root {
    --gutter: 22px; 
    @media (max-width: $break) {
        --gutter: 14px;
    }
}