@import './vars';
@import './util';
@import './base';
@import './cards';
@import './typography';
@import './form';
@import './footer';
@import './nav';
@import './hero';
@import './unit';

.section{
    position: relative;
    border-radius: $radius;
    overflow: hidden;
    padding: $gutter;
    @media (max-width: $break) {
        padding: $gutter/2;
    }
}

.main {
    background: white;
    border-radius: $radius;
    display: flex;
    flex-direction: column;
    gap: $gutter;
    @media (max-width: $break) {
        border-radius: 0;
        gap: $gutter/2;
    }
}  