<table width="100%" border="0">
    <tr>
        <td width="160">
            <img width="150" height="auto" src="/images/email/round.png">
        </td>
        <td class="line-height: 1.8">
            <p>
                <strong style="font-size: 22px;">Nick Clarkson</strong><br>
                <span>Technical Director - Web Designer - Web Developer - Digital Strategist</span></p>
            <p>
                <a style="color: orange" href="tel:077771535355">07771 535 355</a><br>
                <a style="color: orange" href="mailto:nick@clarkson.io">nick@clarkson.io</a><br>
                <a style="color: orange" href="https://clarkson.io">Clarkson.io</a></p>
            <p>
                <strong>Lastest blog - </strong> <a style="font-style: italic;" href="https://clar.ky/blog/vibe-coding-with-chatgpt/">Vibe Coding - Buddying up with ChatGPT</a>
            </p>
        </td>
    </tr>
</table>