<table width="100%" border="0">
    <tr>
        <td style="max-width: 130px; vertical-align: top;">
            <img style="max-width: 120px" width="120" height="auto" src="https://clar.ky/images/email/round.png">
        </td>
        <td class="line-height: 1.8">
            <p>
                <strong style="font-size: 22px;">Nick Clarkson</strong><br>
                <span>Technical Director - Web Designer - Web Developer - Digital Strategist</span></p>
            <p>
                <a style="color: orange" href="tel:077771535355">07771 535 355</a><br>
                <a style="color: orange" href="mailto:nick@clarkson.io">nick@clarkson.io</a><br>
                <a style="color: orange" href="https://clarkson.io?utm_source=email-footer">Clarkson.io</a></p>
            <p>
                <strong>Latest blog - </strong> <a style="font-style: italic;" href="https://clar.ky/blog/vibe-coding-with-chatgpt/?utm_source=email-footer">Vibe Coding - Buddying up with ChatGPT</a>
            </p>
        </td>
    </tr>
</table>