---
import Wrapper from '../layouts/wrapper.astro';
import BlogList from '../components/BlogList.astro';

import CRM from '../components/home/crm.astro';
import WebDev from '../components/home/webdev.astro';
import PM from '../components/home/projectmanagement.astro';
---

<Wrapper
	title="Nick Clarkson - Digital Consultant"
	description="Nick Clarkson is a digital consultant with over 20 years of experience in web development, project management, and CRM systems. He helps organisations navigate digital complexity with clarity and confidence.">
	<article>
		<div class="hero"> 
			<img class="hero__image" src="/images/intro.jpg" alt=""> 
		</div>
		<div class="units">			
			<PM />
			<WebDev />
			<CRM />
			<BlogList />			
		</div>
	</article>
</Wrapper>