---
import Wrapper from '../layouts/wrapper.astro';
import BlogList from '../components/BlogList.astro';
---

<Wrapper>
	<article>
		<div class="hero"> 
			<img class="hero__image" src="/images/intro.jpg" alt=""> 
		</div>
		<BlogList />
	</article>
	
</Wrapper>