---
import { getCollection } from 'astro:content';
import Wrapper 	from '../layouts/wrapper.astro';
import BlogList from '../components/BlogList.astro';
import CV 		from '../components/CV.astro';
import Services from '../components/Services.astro';
import Socials 	from '../components/Socials.astro';

const posts = (await getCollection('blog'))
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .slice(0, 4);

---
<Wrapper
	title="Nick Clarkson, Creative Technologist, Bristol UK"
	description="Nick is a digital consultant with over 20 years of experience in web development, project management, and CRM systems. He helps organisations navigate digital complexity with clarity and confidence."
	image='/images/clarky-1.jpg'>


	<article>	

		
		<section class="hero hero--home"  style="background-image: url(/images/clarky-3.jpg)">
			<div class="hero__text">
				<div class="hero__home">							
					<h1 class="nc">Nick<br>Clarkson</h1>							
					<div class="typography">
						<h2>Creative Technologist, Technical Director</h2>
						<p class="hero__description u-grey u-no-mobile">I help agencies and organisations deliver meaningful digital work through a blend of elegance, resourcefulness, creativity, and flexibility. Whether it’s shaping strategy, leading teams, or solving complex briefs, I bring a practical, people-first approach to building purposeful, well-crafted solutions that adapt and endure.</p>
						<p class="socials hero__social"><Socials /></p>
					</div>
				</div>
			</div>	
		</section>	

		<Services />

		<CV />

		<section class="section section--solo">
			<div class="section__inner cards">
				<BlogList 
					title="Latest Posts"					
					posts={posts} />
			</div>
		</section>


	</article>

	
</Wrapper>