---
import { getCollection } from 'astro:content';
import Wrapper 	from '../layouts/wrapper.astro';
import BlogList from '../components/BlogList.astro';
import CV 		from '../components/CV.astro';
import Unit 	from '../components/Unit.astro';
import Socials 	from '../components/Socials.astro';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

---

<Wrapper
	title="Nick Clarkson - Digital Consultant"
	description="Nick Clarkson is a digital consultant with over 20 years of experience in web development, project management, and CRM systems. He helps organisations navigate digital complexity with clarity and confidence."
	image='/images/clarky-1.jpg'>

	<article>	

		<section class="section">
			<div class="section__inner hero">
				<div class="hero__text">
					<h1 class="nc">Nick<br>Clarkson</h1>							
					<div class="typography">
						<h2>Creative Technologist / Digital Consultant</h2>
						<p class="u-grey">With over two decades of hands-on experience, I help agencies and organisations deliver meaningful digital work—whether that means building fast, accessible websites, shaping CRM strategies, or applying AI to streamline delivery.</p>
						<p class="socials hero__social">
							<Socials />
						</p>
					</div>
				</div>
				<!-- <img class="hero__image" src="/images/clarky.jpg" alt="Nick Clarkson" /> -->
			</div>			
		</section>

		<section class="section">	
			<div class="section__inner units">				
				<Unit 
					title="Digital<br>Consultancy"
					summary="I help organisations solve digital challenges with clear, secure, and impactful solutions."				
					icon="fa-solid fa-mug-hot">
						<p>As a consultant, I help organisations navigate digital complexity with clarity and confidence. Whether I’m advising on Cyber Essentials and secure 
							development practices, or delivering talks on AI-enhanced productivity, Vibe Coding, and data-driven decision making, 
							my focus is always on practical impact. I bring over two decades of hands-on experience to every engagement—bridging technical detail with 
							strategic thinking to support teams, shape workflows, and drive meaningful digital change.</p>
				</Unit>
				<Unit 
					title="Design,<br>Development and UX"
					summary="I design and build fast, accessible, full-stack websites that balance creativity with technical precision to deliver real, user-centred value."				
					icon="fa-solid fa-code">
						<p>My approach to web design and development blends creativity with technical precision. I focus on building fast, accessible, and user-centred websites that
							serve a clear purpose—whether thats conversion, engagement, or communication. I work full stack, from design systems and front-end UX to scalable back-end architecture, 
							always aiming for elegant solutions that are easy to maintain and deliver real value.</p>
				</Unit>
				<Unit 
					title="CRM Strategy<br>and Activation"
					summary="I design user-focused CRM systems that align with business goals and use automation to support meaningful, timely customer engagement."				
					icon="fa-solid fa-address-book">	
						<p>I take a strategic, user-focused approach to CRM—designing systems that genuinely support customer relationships rather than just tracking them. I specialise in aligning 
							CRM tools with business goals, integrating them cleanly with websites and marketing platforms, and using automation and segmentation to deliver timely, relevant communication. 
							It’s about making the technology work for people—not the other way around.</p>	
				</Unit>	
			</div>	
		</section>
		<CV />
		<section class="section section--solo">
			<div class="section__inner cards">
				<BlogList 
					title="Latest Posts"					
					posts={posts} />
			</div>
	</article>
</Wrapper>

<script type="module">
	document.querySelectorAll('.js-expander__link').forEach(link => {
	  link.addEventListener('click', (e) => {
		e.preventDefault();
		const unit = link.closest('.js-expander');
		unit.classList.toggle('js-expander--expanded');
	  });
	});
</script>