---
import Wrapper from '../layouts/wrapper.astro';
import BlogList from '../components/BlogList.astro';
---

<Wrapper>
	<header class="section header">
		<a class="me" href="/">Nick Clarkson</a>
	</header>
	<BlogList />
</Wrapper>