---
import Wrapper from '../layouts/wrapper.astro';
---
<Wrapper>
    <div class="typography">       
        <h1>Privacy & Cookies</h1>
        <p>We use Mailchimp as our marketing platform. By clicking below to subscribe, you acknowledge that your information will be transferred to Mailchimp for processing. 
        <a href="https://mailchimp.com/legal/terms">Learn more</a> about Mailchimp's privacy practices.</p>
    </div>
</Wrapper>