---
import { getCollection } from 'astro:content';
import Wrapper from '../layouts/wrapper.astro';
import BlogList from '../components/BlogList.astro';
import BlogHero from '../components/BlogHero.astro';
import BlogCal from '../components/BlogCal.astro';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
const featured = posts.shift();
const main = posts;
const secondary = posts.splice(0,2);
---
<html>
	<head>
		<style>

		</style>
	</head>
	<body>
		<script async src="https://eocampaign1.com/form/1aef13f2-57f1-11f0-8302-410f126a741a.js" data-form="1aef13f2-57f1-11f0-8302-410f126a741a"></script>
	</body>
</html>
