<section class="section unit typography">
    <div class="unit__details">    
        <h2>CRM</h2>
        <p>I design user-focused CRM systems that align with business goals and use automation to support meaningful, timely customer engagement.</p>
        <p class="js-expand">I take a strategic, user-focused approach to CRM—designing systems that genuinely support customer relationships rather than just tracking them. I specialise in aligning CRM tools with business goals, integrating them cleanly with websites and marketing platforms, and using automation and segmentation to deliver timely, relevant communication. It’s about making the technology work for people—not the other way around.</p>
        <p><a href="">Learn more</a></p>
    </div>
    <div class="unit__icon icon">
        <i class="fa-solid fa-address-book"></i>
    </div>   
</section>