<section class="section unit typography">
    <div class="unit__details">
        <h2>Digital Consultancy</h2>
        <p>I help organisations solve digital challenges with clear, secure, and impactful solutions.</p>
        <p class="js-expand">As a consultant, I help organisations navigate digital complexity with clarity and confidence. Whether I’m advising on Cyber Essentials and secure development practices, or delivering talks on AI-enhanced productivity, Vibe Coding, and data-driven decision making, my focus is always on practical impact. I bring over two decades of hands-on experience to every engagement—bridging technical detail with strategic thinking to support teams, shape workflows, and drive meaningful digital change.</p>
        <p><a href="">Learn more</a></p>
    </div>
    <div class="unit__icon icon">
        <i class="fa-solid fa-mug-hot"></i>
    </div>
</section>