<section class="section unit typography">
    <div class="unit__details">
        <h2>Web Development, Design & UX</h2>
        <p>I design and build fast, accessible, full-stack websites that balance creativity with technical precision to deliver real, user-centred value.</p>
        <p class="js-expand">My approach to web design and development blends creativity with technical precision. I focus on building fast, accessible, and user-centred websites that serve a clear purpose—whether that’s conversion, engagement, or communication. I work full stack, from design systems and front-end UX to scalable back-end architecture, always aiming for elegant solutions that are easy to maintain and deliver real value.</p>
        <p><a href="">Learn more</a></p>
    </div>
    <div class="unit__icon icon">
        <i class="fa-solid fa-code"></i>
    </div>    
</section>