---
import { getCollection } from 'astro:content';
import FormattedDate from './FormattedDate.astro';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---


	<section class="cards">
        <div class="cards__header">
            <h2 class="cards__title">Latest</h2>
        </div>
        <div class="cards__cards">
            {
                posts.map((post) => (
                    
                    <a href={`/blog/${post.id}/`} class="card">
                        <div class="card__hero">
                            <img class="card__hero__image" width={720} height={360} src={post.data.heroImage} alt="" />
                            <div class="card__hero__date">
                                <FormattedDate date={post.data.pubDate} />
                            </div>
                        </div>
                        <div class="card__details">                            
                            <h4 class="card__title">{post.data.title}</h4>
                        </div>
                    </a>
                    
                ))
            }
        </div>
	</section>