---
import { getCollection } from 'astro:content';
import Card from './Card.astro';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

const featured = posts.shift();
---
<section class="cards">
    <Card post={featured} />
    <div class="cards__cards">
        {
            posts.map((post) => (
                <Card post={post} />
            ))
        }
    </div>
</section>