---
const { post, showButton } = Astro.props;
---
<section class="hero"  style={`background-image: url('${post.data.heroImage}');`}>
    <div class="hero__text"> 
        <div class="hero__bg">           
            <h1 class="nc nc--small">{post.data.title}</h1>
            <h2>{post.data.description}</h2>       
            {showButton && (
                <p><a class="button" href={`/blog/${post.id}/`}>Read Article</a></p>
            )}              
        </div>							
    </div>				
</section>