---
const { post, showButton } = Astro.props;
---
<section class="section">
    <div class="section__inner hero hero--standard">
        <div class="hero__text hero__text--half">
            <h1 class="nc nc--medium">{post.data.title}</h1>							
            <div class="typography">
                <h2>{post.data.description}</h2>
                {showButton && (
                    <p><a class="button" href={`/blog/${post.id}/`}>Read Article</a></p>
                )}  
            </div>
        </div>			
    </div>			
</section>