<section class="section section--solo section--grey u-no-mobile">
    <div class="section__inner cv">
        <div class="typography">
            <h1 class="section__title">Skills & Experience</h1>

            <p class="u-standout">I’m a strategic and commercially focused digital leader with over 20 years of experience across full-stack development, UX, and project delivery.</p>
                
            <p>I’m a strong advocate for user-centred design, web accessibility and AI, and I bring deep experience in Agile environments and cross-functional team leadership. I’ve successfully applied AI to enhance workflows, improve productivity, and support smarter decision-making. I’m also skilled in developing and activating CRM strategies using platforms like Salesforce, HubSpot, and Zoho—all with a consistent focus on delivering elegant, scalable, and measurable digital outcomes.</p>

            <h2>Recent Awards</h2>
            <ul>
                <li>2025 - Web Excellence Awards. Hotel & Hospitality</li>
                <li>2024 - Web Excellence Awards. Recuritment and Education</li>                
            </ul>
            
            <p><a href="/about" class="button">Learn more</a></p>

        </div>
        <div class="cv__timeline">

            <h2>Employment History</h2>

            <div class="roles">

                <div class="role">	
                    <div class="role__date">
                        2018 - 2025
                    </div>
                    <div class="role__position">
                        <h3>Halo</h3>
                        <h4>Technical Director</h4>
                    </div>
                </div>

                <div class="role">	
                    <div class="role__date">
                        2016 - 2018
                    </div>                    
                    <div class="role__position">
                        <h3>NMI</h3>
                        <h4>Head of Digital / Developer Evangelist</h4>
                    </div>
                </div>

                <div class="role">	
                    <div class="role__date">
                        2014 - 2016
                    </div>                    
                    <div class="role__position">
                        <h3>AUK</h3>
                        <h4>Technical Director</h4>
                    </div>
                </div>

                <div class="role">	
                    <div class="role__date">
                        2012 - 2014
                    </div>                    
                    <div class="role__position">
                        <h3>G+V</h3>
                        <h4>Head of Technology</h4>
                    </div>
                </div>

                <div class="role">
                    <div class="role__date">
                        2011 - 2012
                    </div>                    
                    <div class="role__position">
                        <h3>Great State</h3>
                        <h4>Senior Interface Developer</h4>
                    </div>
                </div>

                <div class="role">
                    <div class="role__date">
                        1999 - 2012
                    </div>                    
                    <div class="role__position">
                        <h3>Freelance</h3>
                        <h4>Web Designer / Developer</h4>
                    </div>
                </div>

            </div>                
        </div>
    </div> 
</section>