<section class="section section--solo section--grey u-no-mobile">
    <div class="section__inner cv">
        <div class="typography">
            <h1 class="section__title">Skills & Experience</h1>
            <ul>
                <li>Strategic and commercially focused.</li>
                <li>Over 20 years of experience in web development, project management, and web design.</li>
                <li>Proficient in HTML, CSS, JavaScript, PHP, and SQL.</li>
                <li>Experienced in Agile methodologies and project management.</li>
                <li>Strong understanding of web accessibility standards and best practices.</li>
                <li>Skilled in user experience design and usability testing.</li>
                <li>Proficient in CRM systems such as Salesforce, HubSpot, and Zoho.</li>
            </ul>

            <h2><i class="fa-solid fa-award"></i> Recent Awards</h2>
            <ul>
                <li>2025 - Web Excellence Awards. Hotel & Hospitality</li>
                <li>2024 - Web Excellence Awards. Recuritment and Education</li>
                <!-- <li>2015 - The Drum Award for Digital Industries. National Trust Campaign</li>
                <li>2011 - Travolution Award. Best Online Application for Visitor Review</li>
                <li>2008 - IVCA Award. Best Interactive for Flash eLearning Application</li>					 -->
            </ul>

            <p><a href="/about" class="button">Learn more about me and my approach</a></p>

        </div>
        <div class="cv__timeline">

            <h2>Employment History</h2>

            <div class="roles">

                <div class="role">	
                    <div class="role__date">
                        2018 - 2025
                    </div>
                    <div class="role__position">
                        <h3>Halo</h3>
                        <h4>Technical Director</h4>
                    </div>
                </div>

                <div class="role">	
                    <div class="role__date">
                        2016 - 2018
                    </div>                    
                    <div class="role__position">
                        <h3>NMI</h3>
                        <h4>Head of Digital / Developer Evangelist</h4>
                    </div>
                </div>

                <div class="role">	
                    <div class="role__date">
                        2014 - 2016
                    </div>                    
                    <div class="role__position">
                        <h3>AUK</h3>
                        <h4>Technical Director</h4>
                    </div>
                </div>

                <div class="role">	
                    <div class="role__date">
                        2012 - 2014
                    </div>                    
                    <div class="role__position">
                        <h3>G+V</h3>
                        <h4>Head of Technology</h4>
                    </div>
                </div>

                <div class="role">
                    <div class="role__date">
                        2011 - 2012
                    </div>                    
                    <div class="role__position">
                        <h3>Great State</h3>
                        <h4>Senior Interface Developer</h4>
                    </div>
                </div>

                <div class="role">
                    <div class="role__date">
                        1999 - 2012
                    </div>                    
                    <div class="role__position">
                        <h3>Freelance</h3>
                        <h4>Web Designer / Developer</h4>
                    </div>
                </div>

            </div>
                
        </div>
    </div>
</section>