---
import Unit 	from './Unit.astro';
---
<section class="section">	
    <div class="section__inner units">				
        <Unit 
            title="Digital Strategy<br>& Consultancy"
            summary="I help agencies and organisations define clear digital direction—aligning user needs, business goals, and tech choices into focused, deliverable plans."				
            thumb="fa-solid fa-mug-hot">						
        </Unit>
        <Unit 
            title="Design, UX &<br>Development"
            summary="I design and build accessible, elegant digital products that balance user experience with performance, scalability, and maintainability."				
            thumb="fa-solid fa-code">						
        </Unit>
        <Unit 
            title="Customer Experince<br>& CRMStrategy"
            summary="I design and activate joined-up customer experiences—combining CRM strategy with journey mapping to deliver relevant, timely, and measurable engagement across touchpoints."				
            thumb="fa-solid fa-envelope">						
        </Unit>	
    </div>	
</section>