---
---
<form class="form" action="https://gmail.us20.list-manage.com/subscribe/post?u=eafb35c7a88cf3cc712414525&amp;id=aa6d0c45f2&amp;f_id=003a2ceef0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_self" novalidate="">   
    
    <div class="form__row form__subscribe">

        <input 
            class="form form__text-input form__text-input--email"
            placeholder="Email address"
            type="email" 
            name="EMAIL"         
            id="mce-EMAIL" required="" value="">

        <input 
            type="submit" 
            name="subscribe" 
            id="mc-embedded-subscribe" 
            class="form__button" 
            value="Subscribe">

    </div>
    
    <label for="gdpr_67692" class="form__row u-hide">        
        <input type="checkbox" id="gdpr_67692" name="gdpr[67692]" class="gdpr" value="Y" checked> <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="form__button" value="Subscribe">                
    </label>

    <div class="form__small-print">
        <p>By submitting this form, you agree to join our mailing list. You can unsubscribe at any time using the link in the footer of our emails.</p>
    </div>

    <div aria-hidden="true" style="position: absolute; left: -5000px;">    
        <a href="https://us20.campaign-archive.com/home/?u=eafb35c7a88cf3cc712414525&amp;id=aa6d0c45f2">View previous campaigns</a>
        <input type="text" name="b_eafb35c7a88cf3cc712414525_aa6d0c45f2" tabindex="-1" value="">
    </div>

</form>
