<span class="socials">
    <a href="https://www.threads.com/@clar.ky" target="_blank"><i class="fa-brands fa-threads"></i></a>
    <a href="https://www.instagram.com/clar.ky/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
    <a href="https://github.com/netotaku" target="_blank"><i class="fa-brands fa-github-alt"></i></a>
    <a href="https://www.linkedin.com/in/nicholasclarkson/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
</span>