<span class="socials">
    <i class="fa-brands fa-threads"></i> 
    <i class="fa-brands fa-instagram"></i> 
    <i class="fa-brands fa-github-alt"></i> 
    <i class="fa-brands fa-linkedin-in"></i>
</span>