---
const {
  title,
  summary,  
  thumb
} = Astro.props;
---
<section class="unit">
  <div class="unit__thumb">
    <i class={thumb} />
  </div>
  <div class="unit__details">
    <div class="typography">
      <h2 class="unit__title" set:html={title} />
      <p>{summary}</p>
    </div>   
  </div>
</section>