---
import type { CollectionEntry } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';
import Wrapper from '../layouts/wrapper.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<Wrapper>
	<article class="post">
		<div class="hero">	
			{heroImage && <img class="hero__image" width={1020} height={510} src={heroImage} alt="" />}
			<div class="hero__date">
				<FormattedDate date={pubDate} />
			</div>
		</div>
		<section class="typography">	
			
			<h1>{title}</h1>				
			{
				updatedDate && (
					<div class="last-updated-on">
						Last updated on <FormattedDate date={updatedDate} />
					</div>
				)
			}</p>
			<slot />
		</section>	
	</article>		
</Wrapper>
