---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';

import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

const today = new Date();
import SignUp from '../components/SignUp.astro';

---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>        
		      
		<main class="section main">
			<Header />  
			<slot />
			<footer class="section footer">
				<SignUp />
				&copy; {today.getFullYear()} Nick Clarkson. All rights reserved. <a href="/privacy-and-cookies">Cookies & Privacy</a>
			</footer>
		</main>
		
	</body>
</html>