<!-- nikclarkson+sp@gmail.com
Ukstoner2007## -->
<!-- 
Philviccox@gmail.com
1983popey@googlemail.com -->


 


<div style="line-height: 1.5">
    <p style="font-family: Arial, Helvetica, sans-serif;">
        Best regards,</p>
    <p style="font-family: Arial, Helvetica, sans-serif;">
        Jamie Pope<br>
        <strong>Contracts Manager</strong></p>
    <p>
        <span style="font-family: 'Courier New', Courier, monospace;">T: </span><a style="font-family: Arial, Helvetica, sans-serif;" href="tel:07787296909">07787 296 909</a><br>        
        <span style="font-family: 'Courier New', Courier, monospace;">W: </span><a style="font-family: Arial, Helvetica, sans-serif;" href="https://redcatch.co.uk">Redcatch.co.uk</a>
    </p>
</div>



<div style="line-height: 1.5">
    <p style="font-family: Arial, Helvetica, sans-serif;">
        Best regards,</p>
    <p style="font-family: Arial, Helvetica, sans-serif;">
        Phil Cox<br>
        <strong>Contracts Manager</strong></p>
    <p>
        <span style="font-family: 'Courier New', Courier, monospace;">T: </span><a style="font-family: Arial, Helvetica, sans-serif;" href="tel:07734210492">07734 210 492</a><br>        
        <span style="font-family: 'Courier New', Courier, monospace;">W: </span><a style="font-family: Arial, Helvetica, sans-serif;" href="https://redcatch.co.uk">Redcatch.co.uk</a>
    </p>
</div>





<div style="line-height: 1.5">
    <p style="font-family: Arial, Helvetica, sans-serif;">
        Best regards,</p>

    <p style="font-family: Arial, Helvetica, sans-serif;">
        Ben Hill<br>
        <strong>Commercial Director</strong></p>

    <p>

        <span style="font-family: 'Courier New', Courier, monospace;">T: </span><a style="font-family: Arial, Helvetica, sans-serif;" href="tel:07777158558">07777 158 558</a><br>        
        <span style="font-family: 'Courier New', Courier, monospace;">L: </span><a style="font-family: Arial, Helvetica, sans-serif;" href="https://www.linkedin.com/in/ben-hill-redcatch/">@ben-hill-redcatch</a><br>
        <span style="font-family: 'Courier New', Courier, monospace;">W: </span><a style="font-family: Arial, Helvetica, sans-serif;" href="https://redcatch.co.uk">Redcatch.co.uk</a>

    </p>

    <!-- <table cellpadding="0" cellspacing="0">
        <tr>
            <td style="vertical-align: middle; width: 23px;">
                <img style="display: block;" src="https://clar.ky/images/email/rc/phone.png">
            </td>
            <td style="vertical-align: middle;">
                <a style="font-family: Arial, Helvetica, sans-serif;" href="tel:07777158558">07777 158 558</a>
            </td>
        </tr>
        <tr>
            <td style="vertical-align: middle; width: 23px;">
                <img style="display: block;" src="https://clar.ky/images/email/rc/web.png">
            </td>
            <td style="vertical-align: middle">
                <a style="font-family: Arial, Helvetica, sans-serif;" href="https://redcatch.co.uk">Redcatch.co.uk</a>
            </td>
        </tr>
        <tr>
            <td style="vertical-align: middle; width: 23px;">
                <img style="display: block;" src="https://clar.ky/images/email/rc/linkedin.png">
            </td>
            <td style="vertical-align: middle">
                <a style="font-family: Arial, Helvetica, sans-serif;" href="https://www.linkedin.com/in/ben-hill-redcatch/">https://www.linkedin.com/in/ben-hill-redcatch/</a>
            </td>
        </tr>
    </table> -->

    <p><img src="https://clar.ky/images/email/rc/rc-logo.png"></p>
    
    <p style="color: grey; font-family: Arial, Helvetica, sans-serif; font-size: 12px;">
        Redcatch Construction and Redcatch Scaffolding are part of the Redcatch Group.</p>

    <p style="color: grey; font-family: Arial, Helvetica, sans-serif; font-size: 12px;">
        This message and any attachments are intended solely for the addressee and may contain confidential information.
        <br>If you are not the intended recipient, please delete it and notify the sender.</p>

    <p style="color: grey; font-family: Arial, Helvetica, sans-serif; font-size: 12px;">
        Read our privacy policy. <a style="color: grey" href="https://www.redcatch.co.uk/privacy-policy">https://www.redcatch.co.uk/privacy-policy</a></p>

    <p style="color: grey; font-family: Arial, Helvetica, sans-serif; font-size: 12px;">
        Please consider the environment before printing this email.</p>

    <p style="color: grey; font-family: Arial, Helvetica, sans-serif; font-size: 12px;">
        &copy; 2025 Redcatch Group. All rights reserved.</p>
</div>